* {
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}
html body{
  background-color: skyblue;
}
.container{
  margin:0;
  height:100%;
  background-color: skyblue;
}

/* ***************** START 1 ***************** */
.experiment1 {
  width:918px;
  height:72px;
  margin: 20% auto;
  background-color: white;
}

.experiment1 svg path{
  fill: transparent;
  stroke: blue;
  stroke-width: 1.2;
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
  animation: textAnimation 3s ease-in forwards;
}

 @keyframes textAnimation {
  0% {
    stroke-dashoffset: 270;
  }
  50% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: blue;
  }
} 
 /* ***************** END 1 ***************** */



 /* ***************** START 2 ***************** */
 .experiment2 {

  background-color: white;
}

.experiment2 svg path{
  fill: transparent;
  stroke: blue;
  stroke-width: 1.2;
  stroke-dasharray: 170;
  stroke-dashoffset: 170;

  animation: textAnimation2 5s ease-in-out forwards;
}

@keyframes textAnimation2 {
  0% {
    stroke-dashoffset: 170;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: rgb(0, 0, 161);
  }
}  